form {
 color: #555555;
}

/*::-webkit-input-placeholder {
   color: #555555;
}
*/

.header-board {
  /*text-align: center;*/
  font-size: 3.0em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-left: 10px;
}

.marquee {
  font-size: 1.5em;
}

.question-page, .hoarded{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}


img {
  width: 33%;
  height: auto;
  /*transform: rotate(180deg);*/
}

.left-arrow {
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: scaleY(-1);
  /*transform: scaleX(-1);*/

}

.right-arrow {
  /*transform: rotate(180deg);*/
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: scale(-1,-1);
}

.left-arrow:hover {
  /*transform: rotate(180deg);*/
  /*transform: rotate(90deg);*/
  transform: scale(-1,-1);
}

.right-arrow:hover {
  /*transform: rotate(-90deg);*/
  transform: scaleY(-1);
}



.header {
  width: 100%;
  /*margin-left: 10%;
  margin-right: auto;*/
  text-align: center;
  vertical-align: middle;
  background-color: #FF6666;
  opacity: 0.9;
}

.hoarded-header {
  background-color: #FF6666;
  margin-top: -10px;
  padding-bottom: 10px;
  color: #fff;
  width:100%;
  opacity: 0.9;
}

.hoarded-body {
  margin-top: 10%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

a {
  color: #fff;
}

a:hover {
  color: #1FBED6;
  text-decoration: none;
}

.fa {
  color: #97C30A;
}

.fa:hover {
  color: #1FBED6;
  text-decoration: none;
}


.new-hoard {
  margin-left: 49%;
}

.plus-add-new {

}

.plus-add-new {
  transform: rotate(90deg) scale(2);
  transition: 1s ease-in-out;
}
